/* Global CSS */

main {
    margin-top: 0 !important;
    position: relative !important;
    padding: 25px;
    margin-bottom: 10px;
    height: 90vh;
}

.navbar {
  width: 100% !important;
}

@media (min-width: 1400px) {

  #main-navbar {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Header CSS */

nav .fa-bell, nav .fa-user-circle {
    font-size: 20px;
}

.logobrand {
    padding-left: 20px;
}

.logobrand a {
  text-decoration: none;
}

#mainsearch {
  top: 1px;
  z-index: 999999 !important;
}

/* Footer CSS */

.sitefooter {
  position: relative !important;
  bottom: 0px !important;
  width: 100% !important;
  margin: 0px;
  padding: 0px;
}

/* Pages CSS */
.editor {
  bottom: 10px;
  position: relative;
}